a {
  color: #0d6efd;
  text-decoration: none;
}

.head {
  display: flex;
  gap: 10px;
}

.img {
  width: 6%;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1%;
  width: 90%;
  align-items: center;
  position: relative;
  left: 2%;
}

.nav {
  display: flex;
  gap: 10px;
}

.list-group-item {
  padding: 1rem 16rem !important;
}

.profile {
  border-left: 1px solid lightgray;
  padding-left: 13px;
}

.table {
  width: 95% !important;
  position: relative;
  left: 2%;
}
