a {
  color: #0d6efd;
  text-decoration: none;
}

.rockets-list li {
  margin-bottom: 3rem;
}

.head {
  display: flex;
  gap: 10px;
}

.img {
  width: 6%;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1%;
  width: 90%;
  align-items: center;
  position: relative;
  left: 2%;
}

.nav {
  display: flex;
  gap: 10px;
}

.list-group-item {
  padding: 1rem 16rem !important;
}

.profile {
  border-left: 1px solid lightgray;
  padding-left: 13px;
}

.table {
  width: 95% !important;
  position: relative;
  left: 2%;
}

.bg-success {
  height: max-content;
  margin-right: 2rem;
  margin-top: 0.4rem;
}

.btn {
  margin-top: 1.5rem;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: 0;
  margin-left: calc(-.5 * var(--bs-gutter-x));
}